.aside nav{
    display: flex;
    flex-direction: column;
}
.aside{
    background-color: #1F1F1F;
    padding: 2%;
}
.titulo{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}