.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
}
.titulo{
    max-width: 23%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D72638;
    font-size: xx-large;
}
